.planet {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.orbit {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.mercury {
    background: linear-gradient(45deg, #807e7e, #b0b0b0);
    width: 10px;
    height: 10px;
}

.venus {
    background: linear-gradient(45deg, #e6b980, #eacda3);
    width: 15px;
    height: 15px;
}

.earth {
    background: linear-gradient(45deg, #2193b0, #6dd5ed);
    width: 16px;
    height: 16px;
}

.mars {
    background: linear-gradient(45deg, #cb2d3e, #ef473a);
    width: 14px;
    height: 14px;
}

.jupiter {
    background: linear-gradient(45deg, #9b5151, #c79081);
    width: 40px;
    height: 40px;
}

.saturn {
    background: linear-gradient(45deg, #d4a373, #e9edc9);
    width: 35px;
    height: 35px;
}

.uranus {
    background: linear-gradient(45deg, #48c6ef, #6f86d6);
    width: 25px;
    height: 25px;
}

.neptune {
    background: linear-gradient(45deg, #0083b0, #00b4db);
    width: 24px;
    height: 24px;
}
